<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Concesionario</title>
    </head>
    <body>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Pantalla de Detalles</h1>
                    <p>${mensaje}</p>
                    <a href="/" class="btn btn-secondary">Volver a la página principal</a>
                </div>
            </div>
        </div>
    </body>
</html>